body {
    background-color: #fff;
  color: #434455;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.portfolio-list img {
    width: 360px;
    height: 300px;
}
.header-logo-part {
    color : #2e2f42
}

.nav-list-link {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.address-list-link {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link:active {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;;
}

.main-title {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;;
}
.hero-button:hover {
    background-color: #404bbf;
}

h2 {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

h3 {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

.footer {
background-color: #2e2f42;
}
.footer-text {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-logo {
    color : #4d5ae5;
}

.footer-logo-part {
    color : #f4f4fd;
}