body {
    background-color: #fff;
  color: #434455;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo-part {
    color : #2e2f42
}




.nav-list-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;

}

address {
    font-style: normal;
}

.address-list-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link:active {
    color: #404bbf;
}

.hero {
    margin: 0 auto;
    background-color: #2e2f42;;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ),
    url(../images/people-office.jpg
    );
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

h2 {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

h3 {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
background-color: #2e2f42;
}
.footer-text {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-logo {
    color : #4d5ae5;
}

.footer-logo-part {
    color : #f4f4fd;
}

.people-cards {
    background-color: #F4F4FD;
}

.team-list-item {
 background-color: #FFFFFF;
 
 
}



/* ==================homework 3================= */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


ul, ol {
  margin: 0;
  padding-left: 0;
}


img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header{
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-logo {
 margin-right: 76px;
}
.header-container a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-title{
    max-width: 496px;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;

}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-button {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
     margin-top: 48px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.visually-hidden {
    
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} 

.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item  {
    width: calc((100% - 72px)/4);
}

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list-title {
    margin-bottom: 8px;
}
.people-cards {
    padding-top: 120px;
    padding-bottom: 120px;
}
.team {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    
}
.team-list-item {

    border-radius: 0 0 4px 4px;
  

 width: calc((100% - 3 * 24px) / 4);
/* height: 380px; */
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-title {
    margin-bottom: 8px;
}
.team-list-info {
  text-align: center;
padding: 32px 0 ;
}
.options {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
  flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-item {
 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
  margin: 0;
  padding: 0;
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-list-text {
     transform: translateY(0%);
}
.portfolio {
    margin-bottom: 72px;
}
.portfolio-list-title {
    margin-bottom: 8px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-wrapper {
 
    margin-right: 120px;

}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
    max-height: 72px;
}



/* ============================Home Work 4============================= */
.portfolio-list-item {
    position: relative;
    overflow: hidden;
}



.benefits-icon-wrapper {
    background-color: #f4f4fd;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
 border: 1px solid #8e8f99;
border-radius: 4px;
width: calc(64px + 100px * 2);

margin-bottom: 8px;
} 

.team-list-socials {
    display: flex; 
    justify-content: center;
    gap: 24px

}

.list-item-social {
   transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
     background-color: #4d5ae5;
      border-radius: 50%;
}

.list-item-social:hover,
.list-item-social:focus {
    background-color: #404bbf;
}   
 
.social-links {
    width: 100%;
    height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
    display: flex;
     align-items: center;
     justify-content: center;
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf; 
}

.socials-icon {
 fill: #f4f4fd; 
}





.team-list-text {
    margin-bottom: 8px;
}

.social-media-title {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
display: flex;
   margin-bottom: 16px;
    
   
}




.social-media {
      display: flex;
    flex-direction: column;
   
    justify-content: center;
      
}


.nav-list-link.current {
    color: #404bbf; 
    position: relative;
}

.nav-list-link.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 4px;  
    border-radius: 2px;
    background-color: #404bbf; 
}

.overlay {
    position:relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.overlay:hover .overlay-text,
.overlay:focus .overlay-text {
    transform: translateY(0%);
}

.footer-container {
    display: flex;
    align-items: baseline
  
}
.footer-list-social {
    display: flex;
    gap: 16px;
}
.footer-social-team {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
        background-color: #4d5ae5;
         border-radius: 50%;
}
.footer-social-team:hover,
.footer-social-team:focus {
    background-color: #31d0aa;
}
.footer-link {
    width: 100%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
       background-color: #4d5ae5;
         border-radius: 50%;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}
 