body {
    background-color: #fff;
  color: #434455;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo-part {
    color : #2e2f42
}




.nav-list-link {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 0.3s ease-in-out;
}

address {
    font-style: normal;
}

.address-list-link {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link:active {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ),
    url(../images/people-office.jpg
    );
}

.main-title {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
min-width: 169px;
  transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

h2 {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

h3 {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
background-color: #2e2f42;
}
.footer-text {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-logo {
    color : #4d5ae5;
}

.footer-logo-part {
    color : #f4f4fd;
}

.people-cards {
    background-color: #F4F4FD;
}

.team-list-item {
 background-color: #FFFFFF;
 
 
}



/* ==================homework 3================= */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


ul, ol {
  margin: 0;
  padding-left: 0;
}


img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header{
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-logo {
 margin-right: 76px;
}
.header-container a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-title{
    max-width: 496px;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;

}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-button {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
     margin-top: 48px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.visually-hidden {
    
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} 

.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item  {
    width: calc((100% - 72px)/4);
}

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list-title {
    margin-bottom: 8px;
}
.people-cards {
    padding-top: 120px;
    padding-bottom: 120px;
}
.team {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    
}
.team-list-item {

    border-radius: 0 0 4px 4px;
  

 width: calc((100% - 3 * 24px) / 4);
/* height: 380px; */
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-title {
    margin-bottom: 8px;
}
.team-list-info {
  text-align: center;
padding: 32px 16px ;
}
.options {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
  flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-item {
 
 
  width: calc((100% - 48px) / 3);
  margin: 0;
  padding: 0;
}

.portfolio {
    margin-bottom: 72px;
}
.portfolio-list-title {
    margin-bottom: 8px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-wrapper {
    max-width: 264px;
    max-height: 112px;

}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
    max-height: 72px;
}



/* ============================Home Work 4============================= */
.portfolio-list-item {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
     display: flex;
    position: absolute;
     transform: translateX(-100%); opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #4d5ae5;
    
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

 


.portfolio-list-item:hover .portfolio-overlay,
.portfolio-list-item:focus .portfolio-overlay {
  transform: translateX(0); opacity: 1;
}




.portfolio-overlay-text {
    padding: 40px 32px 164px 32px;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.benefits-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
 border: 1px solid #8e8f99;
border-radius: 4px;
width: calc(64px + 100px * 2);
padding: 24px 100px;
margin-bottom: 8px;
} 

.team-list-socials {
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
     
}
.socials-icon {
 fill: #fff;
 display: block;
}

.socials-icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 0.3s ease-in-out;

}

.socials-icon-wrapper:hover,
.socials-icon-wrapper:focus {
    background-color: #404bbf;
}
.team-list-text {
    margin-bottom: 8px;
}

.social-media-title {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
display: flex;
   margin-bottom: 16px;
    
   
}


.footer .container {
    display: flex;
    align-items: flex-start; 
    gap: 120px;
}

.social-media {
      display: flex;
    flex-direction: column;
   
    justify-content: center;
      
}
.footer-icon:hover,
.footer-icon:focus {
    background-color: #31d0aa;
}

.nav-list-link.current {
    color: #404bbf; 
    position: relative;
}

.nav-list-link.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 100%;
    height: 4px;  
    border-radius: 2px;
    background-color: #404bbf; 
}