body {
    background-color: #fff;
  color: #434455;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo-part {
    color : #2e2f42
}

.nav-list-link {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;
}

address {
    font-style: normal;
}

.address-list-link {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active,
.address-list-link:hover,
.address-list-link:focus,
.address-list-link:active {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;;
}

.main-title {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

h2 {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

h3 {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
background-color: #2e2f42;
}
.footer-text {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-logo {
    color : #4d5ae5;
}

.footer-logo-part {
    color : #f4f4fd;
}

.people-cards {
    background-color: #F4F4FD;
}

.team-list-item {
 background-color: #FFFFFF;
}


/* ==================homework 3================= */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


ul, ol {
  margin: 0;
  padding-left: 0;
}


img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-logo {
 margin-right: 77px;
}
.header-container a {
    padding-top: 25px;
    padding-bottom: 30px;
}

.main-title{
    max-width: 496px;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;

}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-button {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
     margin-top: 48px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.benefits {
    
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} 

.benefits-list {
    display: flex;
    gap: 24px;
}

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list-title {
    margin-bottom: 8px;
}
.people-cards {
    padding-top: 120px;
    padding-bottom: 120px;
}
.team {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    
}
.team-list-item {
    border-radius: 0 0 4px 4px;
  

width: 264px;
height: 380px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list-info {
  text-align: center;
margin-top: 32px;
}
.options {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
  flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list-info {
   padding: 32PX 0;
   padding-left: 16px;
}
.portfolio-list-item {
 
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
  margin: 0;
  padding: 0;
}

.portfolio {
    margin-bottom: 72px;
}
.portfolio-list-title {
    margin-bottom: 8px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-wrapper {
    max-width: 264px;
    max-height: 112px;

}